# ---------------------------------------------------------------------------
# Quantum-SDN Switching Architecture .gitignore
# ---------------------------------------------------------------------------

# Python Virtual Environments
.venv/
venv/
env/

# Python Cache and Compiled Files
__pycache__/
*.py[cod]
*$py.class

# Downloaded installation scripts & temp archives
get-docker.sh
get_helm.sh
install_osm.sh
helm-*-linux-amd64.tar.gz

# Downloaded binaries and archives
kubectl
grpcurl_*.tar.gz
grpcurl

# Keys and credentials
OSM-ETSI-Release-key.gpg

# Standard OS hidden files
.DS_Store
*~

# Protobuf / gRPC generated Python files
*_pb2.py
*_pb2_grpc.py
*_pb2.pyi
proto/__init__.py

# Dynamically Generated µONOS Model Plugin Artifacts
sdn-controller/northbound-interfaces/model-plugin/VERSION
sdn-controller/northbound-interfaces/model-plugin/metadata.yaml
sdn-controller/northbound-interfaces/model-plugin/yang/controller-quantum-switching.yang
